.button {
  color: #ffffff;

  display: inline-block;
  padding: 11px 0;
  text-align: center;
  vertical-align: top;

  background-color: #68b738;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: auto;
    padding: 10px 0;
  }
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button--commercial {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 16px 27px;
    position: absolute;
    top: 315px;
    left: 119px;
  }

  /*@media (min-width: @desktop-width) {
    z-index: 3;
  }*/
}

.button--card {
  font-size: 16px;
  line-height: 20/16;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.button--extra {
  font-size: 16px;
  line-height: 20/16;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @desktop-width) {
    width: auto;
    padding-left: 92px;
    padding-right: 92px;
  }
}

.button--show {
  font-size: 16px;
  line-height: 20/16;
  color: #444444;
  border: none;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #f2f2f2;
}

.button--show:hover {
  background-color: #ebebeb;
}

.button--show:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}

.button--form {
  font-size: 16px;
  line-height: 20/16;
  border: none;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 34px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 82px;
    flex-grow: 1;
  }
}
