.button {
  color: #ffffff;

  display: inline-block;
  padding: 10px 0;
  text-align: center;
  vertical-align: top;

  background-color: #68b738;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: auto;
    padding: 10px 0;
  }
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button--commercial {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 16px 27px;
    z-index: 4;
    position: relative;
  }
}

.button--card {
  font-size: 16px;
  line-height: 20/16;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-top: auto;
  }
}

.button--extra {
  font-size: 16px;
  line-height: 20/16;

  @media (min-width: @desktop-width) {
    width: auto;
    padding-left: 92px;
    padding-right: 92px;
  }
}

.button--show {
  font-size: 16px;
  line-height: 20/16;
  color: #444444;
  border: none;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #f2f2f2;
}

.button--show:hover {
  background-color: #ebebeb;
}

.button--show:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}

.button--form {
  font-size: 16px;
  line-height: 20/16;
  border: none;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 15px 65px;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    margin-right: 82px;
    flex-grow: 1;
  }
}
