.card {
  width: 100%; /*320 от page-main__inner*/
  min-height: 210px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border: solid 1px #ededed;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    background-color: #ededed;
    width: 324px;
    min-height: 431px;
    margin: 30px;

    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 40px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.card__inner {
  display: flex;

  @media (min-width: @tablet-width) {
    display: block;
    //flex-direction: column;
    position: relative;
  }
}

.card__box {
  flex: 0 0 50%;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 230px;
  }
}

.card__content {
  flex: 0 0 50%;
  padding-top: 18px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 165px;
  }
}

.card__title {
  font-size: 16px;
  line-height: 20/16;
  color: #111111;
  text-transform: uppercase;

  margin: 0;
  padding: 0;

  width: 80px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    text-align: center;
  }
}

.card__description {
  font-family: @alternate-font;
  font-size: 12px;
  line-height: 16/12;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
  }
}

.card__description-left {
  text-align: left;
}

.card__description-right {
  text-align: right;
}

.card__line {
  @media (min-width: @tablet-width) {

    border-bottom: solid 3px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    line-height: 32px;
  }
}
/*---------------карточка показать больше------------*/
.card--more {
  align-items: center;
  padding-top: 83px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 145px;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
    background-position: center;
  }

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    border: solid 1px #cdcdcd;
    padding-top: 166px;
    align-items: center;

    &::before {
      top: 55px;
      left: 131px;
      width: 61px;
      height: 61px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      left: 93px;
    }
  }
}

.card__title--more {
  width: 280px;
  margin-bottom: 3px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 133px;
    margin: 0;
    margin-bottom: 28px;
  }
}

.card__text {
  font-family: @alternate-font;
  font-size: 12px;
  line-height: 16/12;

  @media (min-width: @tablet-width) {
    width: 165px;
    text-align: center;
  }
}
