.commercial {
  min-height: 505px;

  color: #ffffff;

  display: flex;
  flex-direction: column;
}

.commercial__inner {
  height: 305px;
  width: inherit;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: green;

  position: relative;
  text-align: center;
}

.commercial__title {
  font-size: 36px;
  line-height: 36/36;
}

.commercial__slogan {
  font-weight: 14/14;
  text-transform: uppercase;
}

.commercial__box {
  position: absolute;
  top: 167px;
  right: 20px;
}

.commercial__button {
  margin-top: auto;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
}
