.commercial {
  min-height: 500px;
  color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}

.commercial__inner {
  height: 305px;
  width: 320px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #68b738;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    width: inherit;
    min-height: 843px;
    background-image: none;
    background-color: #ffffff;
    padding-top: 53px;
  }

  @media (min-width: @desktop-width) {
    min-height: 554px;
    padding-top: 80px;
    position: relative;
    //background-color: transparent;
  }
}

// .commercial__inner::before {
//   @media (min-width: @desktop-width) {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 696px;

//     background-color: #5da331f1;
//     transform: translateX(650px) translateY(-142px);
//   }
// }

// .commercial__inner::after {
//   @media (min-width: @desktop-width) {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 720px;
//     height: 696px;

//     background-image: url("../img/index-background-desktop@1x.jpg");
//     background-color: #5da331f1;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transform: translateX(650px) translateY(-142px);
//   }
// }

.commercial__inner::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 696px;

    background-color: #5da331f1;
    transform: translateX(650px) translateY(-142px);
  }
}

.page-main__inner--background::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 720px;
    height: 696px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
/// отдельный блок----------------------------------
.site__container {
  @media (min-width: @desktop-width) {
    overflow: hidden;
  }
}
//--------------------------------------------------

.commercial__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    color: #111111;

    margin-top: 0;
    margin-bottom: 41px;
    margin-left: 117px;

    padding-top: 0;
    width: 480px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
  }
}

.commercial__slogan {
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    color: #111111;
    text-align: left;

    margin: 0;
    margin-left: 117px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
  }
}

.commercial__box {
  width: 280px;
  height: 271px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 0;
    right: 257px;
  }
}

.commercial__product-image {
  @media (min-width: @desktop-width) {
    z-index: 2;
    position: relative;
  }
}
