.commercial {
  min-height: 500px;
  color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 863px;
    text-align: left;
    position: relative;
    padding-left: 117px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    min-height: 554px;
  }
}

.commercial__inner {
  min-height: 305px;
  width: 320px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #67a83e;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 135px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    width: inherit;
    min-height: 230px;
    background-image: none;
    background-color: #ffffff;
    padding-top: 53px;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    min-height: 315px;
    padding-top: 80px;
    position: relative;
    z-index: auto;
  }
}

.commercial__inner::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 726px;
    background-color: #67a83e;
    transform: translateX(535px) translateY(-172px);
  }
}

.commercial__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  margin-top: 0;
  margin-bottom: 26px;
  padding-top: 25px;
  z-index: 3;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    color: #111111;

    margin-top: 0;
    margin-bottom: 41px;

    padding-top: 0;
    width: 480px;
    text-align: left;
  }
}

.commercial__slogan {
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  z-index: 3;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    color: #111111;
    text-align: left;

    margin: 0;
    margin-bottom: 48px;
    width: 480px;
  }
}

.commercial__box {
  width: 280px;
  height: 271px;
  position: absolute;
  left: 20px;
  top: 167px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    top: 255px;
    left: -90px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 0;
    left: 374px;
    z-index: auto;
  }
}

.commercial__product-image {
  width: 280px;
  height: 271px;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    z-index: 2;
    position: relative;
  }
}
