.contacts {
  width: 100%;
  /*height: 476px;*/

  @media (min-width: @tablet-width) {
    /*height: 601px;*/
  }

  @media (min-width: @desktop-width) {
    /*height: 400px;*/
    position: relative;
  }
}

.contacts--notIndex {
  background-color: #f2f2f2;
}

.contacts__inner {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.contacts__box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 27px;

  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 69px;
    padding-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 200px;
    background-color: #ffffff;
    position: absolute;
    z-index: 6000;
    top: 100px;

    padding-left: 76px;
    padding-right: 90px;
    padding-top: 66px;
    padding-bottom: 59px;
  }
}

.contacts__invite {
  font-size: 16px;
  line-height: 20/16;
  color: #111111;
  text-transform: uppercase;

  margin: 0;
  flex: 0 0 50%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25/20;

    flex-basis: 155px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.contacts__address {
  font-family: @alternate-font;
  line-height: 20/14;

  margin: 0;
  flex: 0 0 50%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20/16;

    flex-basis: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}
