.example {
  background-color: #f2f2f2;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    border-top: solid 1px #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(#ffffff 32%, #f2f2f2 32%);
    padding-bottom: 69px;
    border: none;
  }
}

.example__container {
  width: 320px;
  .mobile-padding();
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 0;
    margin: 0;

    background-image: linear-gradient(#ffffff 57.3%, #f2f2f2 57.3%);
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    .desktop-padding();
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    background-image: none;
  }
}

.example__content {
  padding-top: 15px;
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    .tablet-padding();
    margin: 0 auto;
    padding-top: 44px;
    margin-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding: 0;
    margin: 0;
    padding-top: 0;
  }
}

.example__title {
  font-size: 36px;
  line-height: 60/36;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 80px;
    margin-bottom: 145px;
  }
}

.example__story {
  font-family: @alternate-font;
  margin: 0;
  margin-bottom: 25px;
  width: 266px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24/16;
    margin-bottom: 54px;
    width: 676px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
    width: 435px;
  }
}

.example__parameters {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    width: 366px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: auto;
  }
}

.example__item {
  width: 124px;
  text-align: center;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  display: block;
  width: 124px;
  height: 56px;
  padding-top: 13px;
  border: solid 1px #cdcdcd;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37/30;
    width: 161px;
    height: 72px;
    padding-top: 15px;
  }
}

.example__text {
  font-family: @alternate-font;
  font-size: 12px;
  line-height: 1;
  display: block;
  width: 86px;
  padding: 1px 16px;
  position: absolute;
  bottom: -16px;
  left: 18px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    width: 114px;
    padding: 1px 8px;
    bottom: -6px;
    left: 24px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__text--time {
  left: 18px;

  @media (min-width: @tablet-width) {
    width: 146px;
    left: 8px;
  }
}

.example__costs {
  line-height: 20/14;
  color: #111111;
  text-transform: uppercase;

  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;

    width: 180px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 326px;
    height: auto;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 6px;
  }
}
