.example {
  padding-left: 20px;
  padding-right: 20px;
  background-color: coral; /*временно*/
}

.example__title {
  font-size: 36px;
  line-height: 60/36;
  color: #111111;
  margin: 0;
}

.example__story {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 27px;
}
