.extra-item {
  margin: 0 20px;
  padding: 15px 0;
  border-bottom: solid 1px #ededed;

  display: flex;
  flex-direction: column;
}

.extra-item:first-child { /*почему не работает*/
  border-top: solid 1px #ededed;
}

.extra-item__title {
  font-size: 16px;
  line-height: 16/16;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.extra-item__description {
  font-family: Arial, sans-serif;
  line-height: 14/14;
  margin-bottom: 15px;

}
