.extra-item {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 17px;

  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 139px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 37px;
    padding-right: 34px;

    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    min-height: 72px;
    border: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.extra-item:first-of-type {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.extra-item__inner {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-right: 35px;
  }
}

.extra-item__title {
  font-size: 16px;
  line-height: 1;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin: 0;

    display: flex;
    align-items: center;
  }
}

.extra-item__description {
  font-family: @alternate-font;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20/16;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    width: 244px;
  }

  @media (min-width: @desktop-width) {
    width: 293px;
  }
}
