.extra {
  width: 100%; /*320 от page-main__inner*/
  /*background-color: green; /*временно*/
  margin-bottom: 35px;

  @media (min-width: @desktop-width) {

    margin-bottom: 86px;
  }
}

.extra__inner {
  width: 100%;
  padding-top: 30px;
  .mobile-padding();
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    .tablet-padding();
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    .desktop-padding();
    margin-bottom: 0;
  }
}

.extra__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #111111;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 75px;

    display: block;
    width: 100vw;
  }
}

.form__title-text {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-left: 38px;

    &::before {
      display: block;
      width: 3000px;
      content: "";
      position: absolute;
      border-bottom: 3px solid #68b738;
      top: 60%;
      right: 248px;
    }

    &::after {
      display: block;
      width: 5000px;
      content: "";
      position: absolute;
      border-bottom: 3px solid #68b738;
      top: 60%;
      left: 248px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.extra__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
    margin-bottom: 0;
  }
}
