.extra {
  width: 100%; /*320 от page-main__inner*/
  /*background-color: green; /*временно*/
}

.extra__title {
  font-size: 24px;
  line-height: 24/24;
  color: #111111;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  margin: 0;
  margin-right: 50px;
}
