.features {
  margin-bottom: 47px;
  counter-reset: features;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.features__inner {
  .mobile-padding();

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.features__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60/36;
  color: #111111;

  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;

    margin-left: 30px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.features__list {
  font-family: @alternate-font;

  list-style: none;
  margin: 0;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.features__item {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 230px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 55px;
    margin-top: 32px;
    padding-top: 112px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.features__item::before {
  @media (min-width: @tablet-width) {
    z-index: 0;
    counter-increment: features;
    content: counter(features);
    position: absolute;
    top: 44%;
    left: 54%;
    transform: translate(-50%, -50%);
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 281px;
    line-height: 1;
    color: #f2f2f2;

    @media (min-width: @desktop-width) {
      left: 72%;
    }
  }
}

.features__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;

  width: 60px;
  height: 60px;
  background-color: #68b738;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
}

.features__item--healthy::after {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 49px 51px;
  }
}

.features__item--powder::after {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 49px 51px;
  }
}

.features__item--economy::after {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 49px 51px;
  }
}

.features__item--time::after {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 49px 51px;
  }
}

.features__text {
  font-family: @alternate-font;
  margin-top: 27px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24/16;

    width: 250px;
    margin: 0;

    position: relative;
    z-index: 5;
  }
}
