.field-checkbox {
  padding: 6px 0;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 1 50%;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex: 0 1 auto;
    min-width: 325px;
  }
}

.field-checkbox__input {
  margin-right: 16px;
  cursor: pointer;
}

.field-checkbox__label {
  font-size: 16px;
  line-height: 18/16;
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.field-checkbox__input:checked,
.field-checkbox__input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.field-checkbox__input:checked + .field-checkbox__label,
.field-checkbox__input:not(:checked) + .field-checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  line-height: 30px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 55px;
  }
}

.field-checkbox__input:checked + .field-checkbox__label::before,
.field-checkbox__input:not(:checked) + .field-checkbox__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;


  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.field-checkbox__input:checked:hover + .field-checkbox__label::before,
.field-checkbox__input:not(:checked):hover + .field-checkbox__label::before {
  border: 1px solid #bababa;
}

.field-checkbox__input:checked:active + .field-checkbox__label,
.field-checkbox__input:not(:checked):active + .field-checkbox__label {
  opacity: 0.3;
  transition: none;
}

.field-checkbox__input:checked + .field-checkbox__label::after,
.field-checkbox__input:not(:checked) + .field-checkbox__label::after {
  content: "";
  position: absolute;
  //-webkit-transition: all 0.2s ease;
  //-moz-transition: all 0.2s ease;
  //-o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 5px;
  top: 6px;
  width: 20px;
  height: 10px;
  border-radius: 1px;
  border-left: 2px solid #68b738;
  border-bottom: 2px solid #68b738;
  //-webkit-transform: rotate(-45deg);
  //-moz-transform: rotate(-45deg);
  //-o-transform: rotate(-45deg);
  //-ms-transform: rotate(-45deg);
  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    top: 8px;
    width: 30px;
    height: 15px;
  }
}

/*.field-checkbox__input:checked + .field-checkbox__label::after,
.field-checkbox__input:not(:checked) + .field-checkbox__label::after {
  left: 5px;
  top: 6px;
  width: 20px;
  height: 10px;
  border-radius: 1px;
  border-left: 2px solid #68b738;
  border-bottom: 2px solid #68b738;
  //-webkit-transform: rotate(-45deg);
  //-moz-transform: rotate(-45deg);
  //-o-transform: rotate(-45deg);
  //-ms-transform: rotate(-45deg);
  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    top: 8px;
    width: 30px;
    height: 15px;
  }
}*/

.field-checkbox__input:not(:checked) + .field-checkbox__label::after {
  opacity: 0;
}

.field-checkbox__input:checked + .field-checkbox__label::after {
  opacity: 1;
}
