.field-checkbox {

}

.field-checkbox__input {
  cursor: pointer;
}

.field-checkbox__label {
  font-size: 16px;
  line-height: 18/16;
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
}
