.field-text {
  padding: 7px 0;
  display: flex;
  align-items: center;

  position: relative;
  width: 280px;

  @media (min-width: @desktop-width) {
    flex: 0 0 50%;
  }
}

.field-text--mail,
.field-text--phone {
  @media (min-width: @desktop-width) {
    padding: 0;
    margin-right: 40px;
    margin-left: 40px;
  }
}

.field-text--mail {
  @media (min-width: @desktop-width) {
    padding: 0;
    flex: 0 0 50%;
  }
}

.field-text--phone {
  @media (min-width: @desktop-width) {
    flex: 0 1 50%;
  }
}

.field-text__label {
  font-size: 16px;
  line-height: 18/16;
  color: #222222;
  text-transform: uppercase;

  margin-right: 16px;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.field-text__input {
  font-size: 16px;
  line-height: 18/16;
  text-transform: uppercase;
  border: solid 1px #cdcdcd;
  cursor: pointer;
  //flex-grow: 1;
  padding: 12px;
  padding-bottom: 13px;
  //flex-basis: 200px;
  //flex: 1 1 auto;
  flex-basis: 150px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 22px;
    padding-right: 62px;
  }
}

.field-text__input--mail {
  padding-right: 48px;

  @media (min-width: @desktop-width) {
    padding-right: 58px;
  }
}

.field-text__input--phone {
  padding-right: 48px;
}


.field-text__mail {
  fill: currentColor;
  position: absolute;
  right: 16px;
  top: 27px;

  @media (min-width: @desktop-width) {
    right: 27px;
    top: 22px;
  }
}

.field-text__phone {
  fill: currentColor;
  position: absolute;
  right: 13px;
  top: 23px;

  @media (min-width: @desktop-width) {
    right: 20px;
    top: 16px;
  }
}

.field-text__input:focus {
  border: solid 2px #444444;
}

.field-text__input:invalid {
  border: solid 2px #ff8282;
}

.field-text__input:focus + .field-text__mail,
.field-text__input:focus + .field-text__phone {
  color: #68b738;
}

.field-text__input:invalid + .field-text__mail,
.field-text__input:invalid + .field-text__phone {
  color: #ff8282;
}

/*для браузера Chrome*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*для браузера Firefox*/
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
/*для других*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
