.field-text {
  padding: 7px 0;
  display: flex;
  width: 100%;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex: 0 0 50%;
  }
}

/*.field-text--setting:first-child {
  padding-top: 20px;
}

.field-text--setting:last-child {
  padding-bottom: 20px;
}*/

.field-text--mail,
.field-text--phone {
  @media (min-width: @desktop-width) {
    padding: 0;
    margin-right: 40px;
    margin-left: 40px;

  }
}

.field-text--mail {
  @media (min-width: @desktop-width) {
    padding: 0;
    flex: 0 0 50%;

  }
}

.field-text--phone {
  @media (min-width: @desktop-width) {
    flex: 0 1 50%;
  }
}

.field-text__label {
  font-size: 16px;
  line-height: 18/16;
  color: #222222;
  text-transform: uppercase;

  margin-right: 16px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.field-text__input {
  font-size: 16px;
  line-height: 18/16;
  text-transform: uppercase;
  border: solid 1px #cdcdcd;
  cursor: pointer;

  flex-grow: 1;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 22px;
    padding-right: 62px;
  }
}

.field-text__input--mail {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 512px center;

  /*position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 2px;
    right: 22px;
    width: 18px;
    height: 14px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
  }*/
}
