.main-nav__list {
  font-size: 20px;
  line-height: 20/20;
  font-weight: 500;
  color: #444444;

  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 66px;
  right: 0;

  margin: 0;
  padding: 0;

  border-bottom: solid 1px #ededed;

  display: none;
}

.main-nav__toggle {
  position: relative;
}

.main-nav__item {
  width: 100%;
}

.main-nav__link { /*Почему для блочного элемента, сработало правило для строчного элемента text-align?*/
  @main-nav__link-height: 65px;

  color: #111111;

  display: block;
  height: @main-nav__link-height;
  text-align: center;
  line-height: @main-nav__link-height; /*для центрирования по вертикали*/
}

.main-nav__link:first-child {
  border-top: solid 1px #ededed;
}
