.page-header {
  width: 100%;
}

.page-header__inner {
  width: 320px;
  min-height: 65px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header__inner {
    width: @tablet-width;
    min-height: 60px;
  }

  .page-header__logo {
    display: flex;
    vertical-align: middle;
  }
}

@media (min-width: @desktop-width) {
  .page-header__inner {
    width: @desktop-width;
    background-color: green;
  }

  .page-header__inner:before {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  }
}
