.page-header {
  width: 100%;
  z-index: 999999;
}

.page-header__inner {
  width: 320px;
  min-height: 65px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 13px;

  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    .tablet-padding();
    min-height: 60px;
  }


  @media (min-width: @desktop-width) {
    width: @desktop-width;
    .desktop-padding();
    background-color: green;
  }
}

.page-header__logo {
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    vertical-align: middle;
    margin-left: 0;
  }
}
