.page-main {
  width: 100%;
}

.page-main__inner {
  width: 320px;
  margin: 0 auto;
}

.page-main__title {
  font-size: 36px;
  line-height: 60/36;
  color: #111111;
  margin-left: 20px;
  margin-top: 23px;
  margin-bottom: 30px;
  margin-right: auto;
}
