.page-footer {
  width: 100%;
  background-color: #f2f2f2;
}

.page-footer__inner {
  width: 320px;
  height: 236px;

  display: flex;
  flex-direction: column;

  flex-wrap: wrap;

  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    min-height: 150px;
    padding-left: 30px;
    padding-right: 30px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    .desktop-padding();
  }
}

.page-footer__logo-footer {
  width: 100%;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

  @media (min-width: @tablet-width) {
    width: 140px;
    padding: 0;
    border: 0;
  }
}

.page-footer__logo-footer:hover {
  opacity: 0.8;
}

.page-footer__logo-footer:active {
  opacity: 0.6;
}
