.page-header {
  width: 100%;
}

.page-header__inner {
  width: 320px;
  min-height: 65px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;

  /*position: relative;*/

  /*background-color: green; /*временно*/
}

