.program__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.program__item {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.program__title {
  font-size: 24px;
  line-height: 37/24;
  color: #111111;
  text-transform: uppercase;

  margin: 0;
  padding-left: 70px;
  padding-top: 36px;
}

.program__detail {
  margin-bottom: 23px;
}

.program__box {
  display: flex;
}

.program__link {
  width: 100%;
  display: inline-block;
  padding: 21px 0;

  vertical-align: top;
  color: #111111;

  text-transform: uppercase;
  cursor: pointer;

  border-top: solid 1px black;
}
