.promo {
  width: 100%; /*320 от extra*/
  padding: 37px 20px;
}

.promo__inner {
  width: 280px;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color:green;

  display: flex;
}

.promo__title {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20/16;
  color: #ffffff;

  width: 159px;
  min-height: 56px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 43px;
  padding: 0;

  text-align: center;
}
