.slider {
  @media (min-width: @tablet-width) {
    height: auto;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
    margin-bottom: 0;
    margin-top: auto;
  }
}

.slider::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    left: 49.7%;
    bottom: 0;
    width: 100vw;
    height: 462px;
    background-color: #eaeaea;
  }

  @media (min-width: @desktop-width) {
    left: 55.5%;
    bottom: -89px;
    height: 480px;
  }
}

.slider__container {
  height: 320px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    .tablet-padding();
    margin: 0 auto;
    height: 100%;
    justify-content: flex-start;
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 640px;
  }
}

.slider__cat {
  margin: 0;
  height: 232px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
    height: 517px;
    width: 690px;
  }

  @media (min-width: @desktop-width) {
    height: 350px;
    margin-bottom: 42px;
  }
}

.slider__catBefore-img {
  position: absolute;
  left: -10px;
  bottom: 0;
  height: 240px;
  width: 320px;
  clip: rect(0, 176px, 232px, 0);

  @media (min-width: @tablet-width) {
    left: 7px;
    height: 517px;
    width: 100%;
    clip: rect(0, 349px, 517px, 0);
    //clip: rect(<top>, <right>, <bottom>, <left>);
  }

  @media (min-width: @desktop-width) {
    clip: rect(0, 365px, 517px, 0);
    left: -5px;
  }
}

.slider__catAfter-img {
  position: absolute;
  bottom: 0;
  left: -5px;
  height: 240px;
  width: 320px;
  clip: rect(0, 280px, 232px, 160px);

  @media (min-width: @tablet-width) {
    left: 7px;
    height: 517px;
    width: 100%;
    clip: rect(0, 690px, 517px, 341px);
    //clip: rect(<top>, <right>, <bottom>, <left>);
  }

  @media (min-width: @desktop-width) {
    left: -4px;
    clip: rect(0, 690px, 517px, 359px);
  }
}

.slider__scale {
  //margin: 0 auto;
  display: flex;
  padding-left: 30px;

  @media (min-width: @tablet-width) {
    z-index: 999999;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-left: auto;
    position: relative;
  }
}

.slider__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20/16;

  color: #111111;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  padding: 0;
  padding-bottom: 6px;
  margin-left: 17px;
  margin-right: 12px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    font-size: 20px;
    line-height: 1;
    border-bottom: dotted 1px rgba(17, 17, 17, 0.23);
    margin-right: 20px;
  }
}

.slider__button--now {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.slider__button:hover {
  @media (min-width: @tablet-width) {
    border-bottom: solid 1px rgba(17, 17, 17, 0.4);
  }
}

.slider__button:active {
  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

//------------------------------------26/04 range-------------


// .slider__range {
//   .track();
//   appearance: none;
//   padding: 0;
// }

// .slider__range::-moz-range-thumb {
//   .thumb();
// }

// .slider__range::-webkit-slider-thumb {
//   .thumb();
//   appearance: none;
// }

// .slider__range::-ms-track {
//   .track();
//   background: transparent;
//   border-color: transparent;
//   color: transparent;
//   border-width: 17px 0;
//   margin-top: -14px;
// }

// .slider__range::-ms-fill-lower {
//   background-color: #dcdcdc;
//   border-radius: 3px;
// }

// .slider__range::-ms-fill-upper {
//   background-color: #dcdcdc;
//   border-radius: 3px;
// }

// .slider__range::-ms-thumb {
//   .thumb();
// }

// .slider__range::-ms-tooltip {
//   display: none;
// }


//-------------------------------24/04 div--------------
.slider__range {
  position: relative;
  padding-top: 4px;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
  }
}

.slider__track {
  cursor: default;
  height: 14px;
  width: 84px;
  background-color: #ffffff;
  border: solid 1px #cdcdcd;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    cursor: pointer;
    height: 6px;
    width: 428px;
    background-color: #dcdcdc;
    border: solid 0 transparent;
    border-radius: 2.5px;
  }
}

.slider__thumb {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  cursor: default;
  box-sizing: border-box;
  height: 6px;
  width: 35px;
  background-color: #68b738;
  border: none;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    top: -4px;
    cursor: pointer;
    height: 34px;
    width: 34px;
    border: 13px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 0 0 1px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 2px #68b738, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
