.social {
  min-width: 130px;
  height: 60px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 140px;
  }
}

.copyright__pic {
  height: 34px;
  width: 27px;
}
