.social {
  min-width: 130px;
  min-height: 62px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    min-width: 124px;
    min-height: auto;
  }
}

.social__link {
  color: #666666;
}

.social__link:hover {
  color: #68b738;
}

.social__link:active {
  color: rgba(104, 183, 56, 0.3);
}

.social__pic {
  fill: currentColor;
}

.social__pic--vk {
  width: 24px;
  height: 14px;

  @media (min-width: @tablet-width) {
    width: 29px;
    height: 19px;
  }
}

.social__pic--insta {
  width: 17px;
  height: 17px;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__pic--fb {
  width: 12px;
  height: 21px;

  @media (min-width: @tablet-width) {
    width: 17px;
    height: 26px;
  }
}
