.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-padding() {
  padding-left: 20px;
  padding-right: 20px;
}

.tablet-padding() {
  padding-left: 30px;
  padding-right: 30px;
}

.desktop-padding() {
  padding-left: 40px;
  padding-right: 40px;
}
