.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-padding() {
  padding-left: 20px;
  padding-right: 20px;
}

.tablet-padding() {
  padding-left: 30px;
  padding-right: 30px;
}

.desktop-padding() {
  padding-left: 40px;
  padding-right: 40px;
}

.title-decor-line() {
  &::before {
    display: block;
    width: 100vw;
    content: "";
    position: absolute;
    border-bottom: 3px solid #68b738;
    top: 60%;
    left: calc(100% + 40px);
  }

  &::after {
    display: block;
    width: 100vw;
    content: "";
    position: absolute;
    border-bottom: 3px solid #68b738;
    top: 60%;
    right: calc(100% + 40px);
  }
}
